<footer>
  <div class="container">
    <span>
      <a href="{{site.baseurl}}/">
        <img src="/assets/images/logo.png" align="top"></img>
      </a>
    </span>
    <span>
      <a href="https://www.linkedin.com/in/marin-abernethy/" target="_blank"><i class="fab fa-linkedin-in fa-border"></i></a>
    </span>
    <span>
      <a href="https://github.com/maabernethy" target="_blank"><i class="fab fa-github-alt fa-border"></i></a>
    </span>
    <span>
      <a href="mailto:maabernethy@gmail.com" target="_top"><i class="far fa-envelope fa-border"></i></a>
    </span>
    <span>
      <a href="/assets/pdfs/Marin_Abernethy_Resume_2018.pdf" download><i class="far fa-file fa-border"></i></a>
    </span>
  </div>
</footer>
