<header>
  <div class="nav container">
    <span ><a class="{{include.home}}" href="{{site.baseurl}}/">HOME</a></span>
    <span class="vl"><a class="{{include.about}}" href="{{site.baseurl}}/about">ABOUT</a></span>
    <span class="vl"><a class="{{include.projects}}" href="{{site.baseurl}}/projects">PROJECTS & PUBLICATIONS</a></span>
    <span class="vl"><a class="{{include.blog}}" href="{{site.baseurl}}/blog">BLOG</a></span>
    <span class="vl"><a class="{{include.contact}}" href="{{site.baseurl}}/contact">CONTACT</a></span>
  </div>
</header>
