$red-background-color: #9B3333;
$purple-background-color: #484454;
$grey-background-color: #959595;
$green-background-color: #107E7D;
$yellow-background-color: #E7B100;

$grey-text-color: #E8E4E4;
$white-text-color: #FFFFFF;

body {
  color: $grey-text-color;

  a:hover {
    color: $white-text-color;
  }

  .bright {
    color: $white-text-color;
  }

  &#home {
    background: $red-background-color;
  }

  &#about {
    background: $purple-background-color;

    a:hover {
      color: $white-text-color;
    }
  }

  &#projects {
    background: $grey-background-color;
  }

  &#blog {
    background: $green-background-color;

    a:hover {
      color: $white-text-color;
    }
  }

  &#contact {
    background: $yellow-background-color;

    input:not(.submit), textarea {
      background-color: $grey-text-color;
      color: $purple-background-color;
    }

    input::placeholder, textarea::placeholder {
      color: $grey-background-color;
    }

    .submit {
      background-color: $yellow-background-color;
      border: 1px solid $grey-text-color;
      color: $grey-text-color;
    }

    .submit:hover {
      border: 1px solid $white-text-color;
      color: $white-text-color;
    }
  }
}

header {
  span {
    a {
      color: $grey-text-color;
    }
    a:hover:not(.active) {
      border-bottom: .5px $grey-text-color dotted;
    }
  }

  .active {
    color: $white-text-color;
  }

  .vl {
    border-left: 1px solid $grey-text-color;
  }
}

footer {
  color: $grey-text-color;

  svg path {
    stroke: $grey-text-color;
  }

  svg:hover path {
    stroke: $white-text-color;
  }
}
