$left-margin: 8%;
$right-margin: 2%;

body {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  a {
    text-decoration: none;
    color: inherit;
  }

  h1, p {
    margin: 2px;
  }

  .condense {
    width: 60%;
  }

  h4 {
    margin: .2em 0 .2em 0;
    margin-bottom: 0px;
    letter-spacing: 1px;
    font-size: 2em;
  }

  .blog_entry {
    margin-bottom: 30px;
  }

  .container {
    padding: 0 $right-margin 0 $left-margin;
    width: auto;
    margin: 0px;
  }

  &#about {
    .plus {
      font-size: 70px;
    }

    .category {
      display: inline-block;
    }

    .description {
      width: 60%;
      padding-left: 10%;
      display: inline-block;
      font-size: 18px;
    }

    .row {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}

header {
  flex-shrink: 0;

  .container {
    padding-top: 4%;
    padding-bottom: 2%;
  }

  span {
    padding-right: 6px;
  }

  span:not(:first-child) {
    padding-left: 6px;
  }
}

main {
  flex-grow: 1;
  overflow: auto;
  min-height: 2em;
}

footer {
  flex-shrink: 0;
  text-align: left;

  .container {
    padding-top: 2%;
    padding-bottom: 4%;
  }

  span {
    margin: 0 .2em 0 .2em;

    img {
      width: 30px;
    }
  }

  span:first-child {
    margin: 0 1.2em 0 0;
  }
}

.fa-border {
  padding: .4em .4em .4em;
  border: solid .04em #eee;
}
