$left-margin: 8%;
$right-margin: 2%;

body {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  a {
    text-decoration: none;
    color: inherit;

    &.active {
      text-decoration: underline;
    }

  }

  h1, p {
    margin: 2px;
  }

  .condense {
    width: 60%;
  }

  h4 {
    margin: .2em 0 .2em 0;
    margin-bottom: 0px;
    letter-spacing: 1px;
    font-size: 2em;
  }

  .blog_entry {
    margin-bottom: 30px;
    padding-right: 8%;
  }

  .container {
    padding: 0 $right-margin 0 $left-margin;
    width: auto;
    margin: 0px;
  }

  &#about {
    a {
      text-decoration: underline;
    }

    .plus {
      font-size: 60px;
      line-height: 1;
    }

    .category {
      display: inline-block;
    }

    .description {
      width: 70%;
      padding-left: 5%;
      display: inline-block;
      font-size: 16px;
    }

    .row {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }

  &#contact {
    h1 {
      color: white;
    }

    p {
      margin-bottom: 30px;
    }

    input:not(.submit), textarea {
      border: none;
      padding-left: 10px;
      border-radius: 5px;
      height: 2.5rem;
      margin: 0 0 12px 0;
      overflow: auto;
      outline: none;
      resize: none;

      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }

    .submit {
      border-radius: .1em;
      padding: 5px 20px;
    }

    textarea {
      padding-top: 7px;
    }

    .name {
      width: 350px;
      display: block;
    }

    .email {
      width: 450px;
      display: block;
    }

    .subject {
      width: 550px;
      display: block;
    }

    .message {
      width: 650px;
      height: 150px;
      display: block;
    }
  }

  &#projects {
    .project_entry img {
      float: left;
      width: 250px;
      height: auto;
      padding-left: 15px;
      margin-right: 3%;
    }

    .project_entry div {
      width: 80%;

      h6 {
        color: white;
        font-size: 20px;
      }
    }
  }
}

header {
  flex-shrink: 0;

  .container {
    padding-top: 4%;
    padding-bottom: 2%;
  }

  .nav {
    overflow: auto;
    white-space: nowrap;

    span {
      display: inline-block;
      padding-right: 6px;
    }

    span:not(:first-child) {
      padding-left: 6px;
    }
  }
}

main {
  flex-grow: 1;
  overflow: auto;
  min-height: 2em;
}

footer {
  flex-shrink: 0;
  text-align: left;

  .container {
    padding-top: 2%;
    padding-bottom: 4%;
  }

  span {
    margin: 0 .2em 0 .2em;

    img {
      width: 30px;
    }
  }

  span:first-child {
    margin: 0 1.2em 0 0;
  }
}

.fa-border {
  padding: .4em .4em .4em;
  border: solid .04em #eee;
}
