// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|PT+Sans:400i,700i|Raleway:300,400,500,600,700,800');

// Font Variables
$black-han-sans: 'Black Han Sans', sans-serif;
$pt-sans: 'PT Sans', sans-serif;
$raleway: 'Raleway', sans-serif;

// Styles
body, p, span {
  font-family: $pt-sans;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $black-han-sans;
  font-weight: bold;
}

button, a {
  font-family: $raleway;
  font-weight: normal;
}

body {
  h1 {
    font-size: 5em;
  }

  &#home {
    p {
      font-size: 1.2em;
    }
  }

  &#blog {
    p {
      font-size: 1em;
      margin-top: 0px;
    }
  }
}

header {
  a {
    font-size: .8em;
  }
}

