// Google Fonts
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Nobile:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:500,600,700,800,900');

// Font Variables
$pt-sans: 'PT Sans', sans-serif;
$raleway: 'Raleway', sans-serif;
$nobile: 'Nobile', sans-serif;

//backup big font?
$work: 'Work Sans', sans-serif;

// Styles
body, p, span {
  font-family: $pt-sans;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $nobile;
  font-weight: bold;
}

button, a {
  font-family: $raleway;
  font-weight: normal;
}

body {
  h1 {
    font-size: 5em;
  }

  &#home {
    p {
      font-size: 1.2em;
    }
  }

  &#blog {
    p {
      font-size: 1em;
      margin-top: 0px;
    }
  }

  &#contact {
    .submit {
      font-family: $raleway;
      font-size: 25px;
    }

    input::placeholder, textarea::placeholder {
      font-family: $pt-sans;
    }
  }
}

main {
  display: flex;

  .content {
    margin-top: auto;
    margin-bottom: auto;
  }
}

header {
  a {
    font-size: .8em;
  }
}

