// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|PT+Sans|Raleway');

// Font Variables
$black-han-sans: 'Black Han Sans', sans-serif;
$pt-sans: 'PT Sans', sans-serif;
$raleway: 'Raleway', sans-serif;

// Styles
body, p, span {
  font-family: $pt-sans;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $black-han-sans;
  font-weight: bold;
}

button, a {
  font-family: $raleway;
  font-weight: normal;
}

header {
  a {
    font-size: .8em;
  }
}

body {
  h1 {
    font-size: 5em;
  }

  p {
    font-size: 1.2em;
  }
}
