<!DOCTYPE html>
<html>
  {% include head.html %}
  {% include header.html %}
  <body id="about">
    <main class="container">
      <div class="content">
        <div class="row valign-wrapper">
          <h2 class="category">TECH</h2>
          <p class="description">I am a software developer who has explored web, mobile,
          and augemented reality technologies; I am a team player and
          quick learner with an eye for design</p>
        </div>
        <div class="row">
          <p class="plus">+</p>
        </div>
        <div class="row valign-wrapper">
          <h2 class="category">TRAVEL</h2>
          <p class="description">I am a software developer who has explored web, mobile,
          and augemented reality technologies; I am a team player and
          quick learner with an eye for design</p>
        </div>
        <div class="row">
          <p class="plus">+</p>
        </div>
        <div class="row valign-wrapper">
          <h2 class="category">ART</h2>
          <p class="description">I am a software developer who has explored web, mobile,
          and augemented reality technologies; I am a team player and
          quick learner with an eye for design</p>
        </div>
      </div>
    </main>
  </body>
  {% include footer.html %}
</html>
