<!DOCTYPE html>
<html>
  {% include head.html %}
  {% include header.html about="active"%}
  <body id="about" class="slideInRight animated">
    <main class="container">
      <div class="content">
        <div class="row">
          <h2 class="category">TECH</h2>
          <p class="description">
            When entering college, I had no clear direction. All I knew was I liked two subjects: Math and Art.
            At the time, they seemed to be completely antithetical interests, which led me down a varied trail of
            courses throughout my college career. It wasn't until much later that I realized the two things I actually
            crave are: Problem solving and Creating. Technology allows me to play on both of these passions, and
            I strive to stay in a creative and technical environment which fosters learning. During my Masters, I had the
            opportunity to do just that. I fully enjoyed this time of exploration and growth, and even managed to publish
            two papers along the way! Now, I am looking forward to my next technological pursuit.
          </p>
        </div>
        <div class="row">
          <p class="plus">+</p>
        </div>
        <div class="row">
          <h2 class="category">TRAVEL</h2>
          <p class="description">
            Travel has always been an important part of my life. I have lived in 4 countries and traveled to about 20 more.
            In this increasingly globalized world, traveling has proved to be essential to my professional and personal growth.
            Not only does it provide many life experiences, but the more I see and experience, and the more people and places I
            encounter, the more I am inspired and fuels my creativity. Interacting with people with different backgrounds
            undoubtedly has made me a better listener, more compassionate, more able to relate to others, and better at communicating.
            My latest stint was just after completing my Masters in New Zealand (for which I am a citizen), where I took 6 months
            to navigate through 10 countries - scuba diving, hiking, and skiing along the way. Check out some photos of that experience
            <a target="_blank" href="https://www.flickr.com/gp/160335369@N02/ioXU3y">here</a>.
          </p>
        </div>
        <div class="row">
          <p class="plus">+</p>
        </div>
        <div class="row">
          <h2 class="category">ART</h2>
          <p class="description">
          Art is therapy for me. My Studio Arts minor in college was born out of a constant need for a hands-on, creative outlet.
          And I have found myself selecting many UX or HCI courses through my academic career alongside more technical courses.
          In my free time, I can often be found working on some art or craft project - drawing, painting, sculpting, sewing, etc. The
          majority of my exploits turn into personal gifts for others, but <a target="_blank" href="https://flic.kr/s/aHsmoRdXtx"> here is a sampling</a>
          of some that didn't. While I don't consider myself a designer (in any fully professional capacity, anyway), I like to think
          its more than just a hobby. And moreover, that it informs my decisions and interactions at work.
          </p>
        </div>
      </div>
    </main>
  </body>
  {% include footer.html %}
</html>
