<!DOCTYPE html>
<html>
  {% include head.html %}
  {% include header.html %}
  <body id="about">
    <main class="container">
      <div class="content">
        <div class="row">
          <h2 class="category">TECH</h2>
          <p class="description">I am a software developer who has explored web, mobile,
          and augemented reality technologies; I am a team player and
          quick learner with an eye for design</p>
        </div>
        <div class="row">
          <p class="plus">+</p>
        </div>
        <div class="row">
          <h2 class="category">TRAVEL</h2>
          <p class="description">As a citizen of New Zealand, I chose to move there to get my Masters in Software Engineering.
          This gave me the opportunity to explore the southern hemisphere, and... It took me 10 countries and 6 months to make
          it back home to the east coast aftering completing my Masters. I have also studied in Scotland and South Africa.
          - curiousity
          - people are connected
          - diversity
          - inspirational
          - beauty
          </p>
        </div>
        <div class="row">
          <p class="plus">+</p>
        </div>
        <div class="row">
          <h2 class="category">ART</h2>
          <p class="description">
          - merging of art and tech
          - just as I like building things with tech, I am always creating something wiht art
          - Studio arts minor
          - working with designers (understanding both sides)
          - UX
          - travel photography
          - sculpture from trinity, plus some sketches from trinity
          - making bags
          </p>
        </div>
      </div>
    </main>
  </body>
  {% include footer.html %}
</html>
