<!DOCTYPE html>
<html>
  {% include head.html %}
  {% include header.html %}
  <body id="contact">
    <main class="container valign-wrapper">
      <div class="content">
        <h1> THANK YOU FOR VISITING </h1>
        <p> Reach out regarding any intersting job
        opportunities or if you just want to connect! </p>

        <form action="https://formspree.io/maabernethy@gmail.com"
              method="POST">
          <input class="name" type="text" name="name" placeholder="Name">
          <input class="email" type="email" name="_replyto" placeholder="Email">
          <input class="subject" name="_subject" placeholder="Subject" />
          <textarea class="textarea message" name="message" placeholder="Message"></textarea>
          <input class="submit" type="submit" value="SEND">
        </form>
      </div>
    </main>
  </body>
  {% include footer.html %}
</html>
