<!DOCTYPE html>
<html>
  {% include head.html %}
  {% include header.html %}
  <body id="home">
    <main class="container valign-wrapper">
      <div class="content">
        <p>Hello World! I'm</p>
        <h1 class="bright">MARIN ABERNETHY</h1>
        <p class="condense">
          I am a software developer who has explored web, mobile, and augemented
          reality technologies; I am a team player and quick learner with an eye
          for design
        </p>
      </div>
    </main>
  </body>
  {% include footer.html %}
</html>
